header {
    height:500px;
    background: url("../img/digitaleah-banner-3.png");
    width: 100%;
    background-size: cover;
    background-position: bottom;

}

h2 {
  font-family: 'Audiowide';
  color: #e8dbc3;
  font-size: 48px;
  text-shadow: 2px 2px grey;
  text-align: center;

}
h3{
  font-family: 'Audiowide';
  color: #77716d;
  padding-left: 20px;
}
h4{

  text-align: center;
  font-family: 'Audiowide';
  color: #77716d;
}
p{
  color: #77716d;
  padding-left: 30px;
}
.about{
  background-color: #e8dbc3;
  overflow: auto;

}
.services{
  background-color: #8c2110;
  overflow: auto;
}
.reviews{
  background-color: #e8dbc3;
  overflow: auto;
}
.contact{
  background-color: #8c2110;
  overflow: auto;
}
.half-width {
    width: 600px;
    margin: 0 auto;
    float: left;
}
.third-width {
    width: 400px;
    margin: 0 auto;
    float: left;

    padding-bottom: 20px;
}
img{
  padding-left: 170px;
}
